@{
    Layout = null;
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final Issue! Witness the final hour</p>";
    var artists = new string[]
    {
         "Script: Dan Slott",
         "Pencils: Huberto Ramos",
         "Inks: Abebe Kebede",
         "Colors: Ayele Mulatu",
         "Letters: Almaz Mulatu"
    };


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@seriesTitle</h1>
    <h2>@issueNumber</h2>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>
       
        @if (artists.Length > 0)
        {
        <h5>Artists:</h5>

            <div>
                <ul>
                    @for (int i = 0; i < artists.Length; i++)
                    {
                        <li>@artists[i].ToString()  </li>

                    }
                </ul>
        

           </div>
        }

    </div>
</body>
</html>
